* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav-link:hover, .nav-link.active {
    color: #2851a9 !important;
    font-size: 16px !important;
  }
  
  .dropdown-item:focus, .dropdown-item:hover, .dropdown-item.active {
    background-color: transparent !important;
    color: #2851a9 !important;
    font-size: 16px !important;
    font-weight: bold;
  }
  
  footer a:hover {
    opacity: 0.8;
  }

.image-section {
    background: url(../img/white-chairs.png) no-repeat center center;
    background-size: cover;
    height: 50vh;
}

.bg-image {
    background: linear-gradient( rgba(23, 37, 159, 0.8), rgba(23, 37, 159, 0.6)), url(../img/hands.png) no-repeat center center;
    background-size: cover;
    height: auto;
}

.couple-image {
    background: url(../img/cheers.png) no-repeat center center;
    background-size: cover;
    height: auto;
    width: 100%;
}

.swiper-button-prev {
    position: absolute;
    top: 12% !important;
    left: 30% !important;
    color: #000 !important;
}

.swiper-button-next {
    position: absolute;
    top: 12% !important;
    right: 30% !important;
    color: #000 !important;
}

@media(max-width: 769px) {
    .swiper-button-prev {
        top: 12% !important;
        left: 10% !important;
    }
    .swiper-button-next {
        top: 12% !important;
        right: 10% !important;
    }
}

@media(max-width: 321px) {
    .swiper-button-prev {
        top: 12% !important;
        left: 3% !important;
    }
    .swiper-button-next {
        top: 12% !important;
        right: 3% !important;
    }
}