* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.image-section {
<<<<<<< HEAD:css/sign-up.css
    background-image: url("../img/sign-up-image.png");
    background-repeat:no-repeat;
=======
    background-image: url("../img/log-in-image.png");
>>>>>>> d039e5bf54b78c51e6a1687221db165be5c7582b:css/log-in.css
    background-size: cover;
    background-position: center;
<<<<<<< HEAD:css/log-in.css
    background-repeat: no-repeat;
}


@media(max-width: 769px) {
    .log-in-section {
=======
}

@media(max-width: 769px) {
    .form-section {
>>>>>>> b5c96be0f42c6747754424e457918a2184165ea5:css/sign-up.css
        width: 90% !important;
    }
}